{
	email {$CADDY_EMAIL}
}

https://{$CRM_DOMAIN} {
	encode zstd gzip
	@dynamic {
		not path /_next/static/* /favicon.ico /robots.txt /sitemap.xml /api/*
	}
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
	header @dynamic {
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		Pragma "no-cache"
		Expires "0"
	}
	handle_path /api/* {
		header Cache-Control "no-store"
		reverse_proxy backend:{$BACKEND_PORT}
	}
	handle {
		reverse_proxy frontend:{$FRONTEND_PORT}
	}
}
